.oroszlan_logo { 
    width: 115px;
    top: -12px;
    position: relative;
    border-radius: 70px;
}

.oroszlan_logo_xs { 
    width: 115px;
    border-radius: 70px;
    display: inline-block;
    margin-top: 10px;
}

.logo_text {
    font-size: 18px;
}

.oroszlan_logo {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(174,146,33,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(174,146,33,1);
    box-shadow: 0px 0px 15px 0px rgba(174,146,33,1);
}

.logo_text_line1 {
    font-weight: bold;
}

.search-btn {
    cursor: pointer;
    color: #82AE42 !important
}

.search-input {
    width: 65px;
    margin-left: 10px;
    height: 25px;
    font-size: 10px;
}

.header-top-left {
    padding-right: 0px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 45px;
}

.header-top-right {
    
}

.full-size-search {
    width: 67%;
    height: 35px;
    font-size: 12px;
}

.search-submit {
    background-color: #a5c422;
    color: #fff;
    border: none;
    height: 33px;
    margin-left: 5px;
}

.card-thumb {
    min-height: 430px !important;
    max-height: 430px !important;
}

.card-thumb h3 {
    margin-top: 0px;
}

.card-thumb img {
    max-height: 250px !important;
    margin: 0 auto !important;
}

.card-thumb {
    background-color: #f9f9f9;
    border-radius: 0 0 10px 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.search-list-short-desc {
    max-height: 75px;
    min-height: 75px;
    overflow: hidden;
    cursor: default;
}

.search-list-item-calendar {
    padding: 0px 0px 0px 30px;
}

.search-list-item-imglink {
    height: 250px;
    display: inherit;
}

.light-gallery-item {
    min-height: 500px;
    max-height: 500px;
    background-color: #f9f9f9;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: solid white 2px;
}

.gallery-item-image {
    min-height: 400px;
    margin: 0 auto;
    background-size: cover;
    border-radius: 10px;
    margin-top: 10px;
}

.gallery-item-text {
    padding: 10px;
    overflow: hidden;
}

.more-menu-item-btn {
    border: 1px solid #f2f2f2;
    cursor:pointer;
    float: right;
    margin-top: 8px;
}

.more-menu-item-btn button {
    border: none;
}
.more-menu-item-btn button:hover,
.more-menu-item-btn button:active,
.more-menu-item-btn button:focus {
    background: #fff;
}

.more-menu-item-btn i {
    border: 1px solid #f2f2f2;
    color: #555555;
    font-size: 13px;
    font-weight: 500;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-default.active.focus, 
.btn-default.active:focus, 
.btn-default.active:hover, 
.btn-default:active.focus, 
.btn-default:active:focus, 
.btn-default:active:hover, 
.open>.dropdown-toggle.btn-default.focus, 
.open>.dropdown-toggle.btn-default:focus, 
.open>.dropdown-toggle.btn-default:hover {
    color: #a5c422;
    background-color: white;
    border-color: #f2f2f2;
}