.oroszlan_logo { 
    width: 115px;
    top: -12px;
    position: relative;
    border-radius: 70px;
}

.oroszlan_logo_xs { 
    width: 115px;
    border-radius: 70px;
    display: inline-block;
    margin-top: 10px;
}

.logo_text {
    font-size: 18px;
}

.oroszlan_logo {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(174,146,33,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(174,146,33,1);
    box-shadow: 0px 0px 15px 0px rgba(174,146,33,1);
}

.logo_text_line1 {
    font-weight: bold;
}

.search-btn {
    cursor: pointer;
    color: #D7E7B6 !important
}

.search-input {
    width: 74px;
    margin-left: 10px;
    height: 30px;
    font-size: 12px;
}

.header-top-left {
    padding-right: 0px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 45px;
}
.phone-icon, .date-icon {
    color: #fff;
}
.phone-icon>i, .date-icon>i {
    color: #D7E7B6;
}

.full-size-search {
    width: 67%;
    height: 35px;
    font-size: 12px;
}

.search-submit {
    background-color: #a5c422;
    color: #fff;
    border: none;
    height: 33px;
    margin-left: 5px;
}

.card-thumb {
    min-height: 380px !important;
    max-height: 380px !important;
    text-align: left;
}

.card-thumb h3 {
    margin-top: 0px;
}

.card-thumb img {
    max-height: 250px !important;
    margin: 0 auto !important;
}

.card-thumb {
    background-color: #f9f9f9;
    border-radius: 0 0 10px 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px;
}

.search-list-short-desc {
    max-height: 75px;
    min-height: 75px;
    overflow: hidden;
    cursor: default;
}

.search-list-item-calendar {
    padding: 0px 0px 0px 30px;
}

.search-list-item-imglink {
    height: 250px;
    display: inherit;
}

.light-gallery-item {
    min-height: 500px;
    max-height: 500px;
    background-color: #f9f9f9;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: solid white 2px;
}

.gallery-item-image {
    min-height: 400px;
    margin: 0 auto;
    background-size: cover;
    border-radius: 10px;
    margin-top: 10px;
}

.gallery-item-text {
    padding: 10px;
    overflow: hidden;
}

.more-menu-item-btn {
    border: 1px solid #f2f2f2;
    cursor:pointer;
    float: right;
    margin-top: 8px;
}

.more-menu-item-btn button {
    border: none;
}
.more-menu-item-btn button:hover,
.more-menu-item-btn button:active,
.more-menu-item-btn button:focus {
    background: #fff;
}

.more-menu-item-btn i {
    border: 1px solid #f2f2f2;
    color: #555555;
    font-size: 13px;
    font-weight: 500;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-default.active.focus, 
.btn-default.active:focus, 
.btn-default.active:hover, 
.btn-default:active.focus, 
.btn-default:active:focus, 
.btn-default:active:hover, 
.open>.dropdown-toggle.btn-default.focus, 
.open>.dropdown-toggle.btn-default:focus, 
.open>.dropdown-toggle.btn-default:hover {
    color: #a5c422;
    background-color: white;
    border-color: #f2f2f2;
}

.service-item-image {
    min-height: 400px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}
.news-item-image {
    min-height: 400px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

.circle-div {
    border-radius: 100%;
    width: 90px;
    background-size: cover !important;
    height: 90px;
    margin-right: 5px;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.stories-info {
    max-width: 220px;
}

.footer-circle-div {
    border-radius: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 65px;
    height: 65px;
}

.services-info {
    min-height: 85px;
    max-height: 85px;
}

.text-muted {
    font-size: 14px !important; 
} 

figure > img {
    width: 100% !important;
}

@media only screen and (max-width: 360px) {
    .owl-theme .owl-dots .owl-dot {
        display: none !important;
    }
}

@media (min-width: 768px){
    .dropdown-menu .dropdown-toggle:after{
            border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        border-left: .3em solid;
    }

    .dropdown-menu .dropdown-menu{
            margin-left:0; margin-right: 0;
    }

    .dropdown-menu li{
            position: relative;
    }
    .nav-item .submenu{ 
            display: none;
            position: absolute;
            left:100%; top:-7px;
    }
    .nav-item .submenu-left{ 
            right:100%; left:auto;
    }

    .dropdown-menu > li:hover{ background-color: #f1f1f1 }
    .dropdown-menu > li:hover > .submenu{
            display: block;
    }
}

.dropdown-menu {
    border-radius: 0px !important;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    text-decoration: none;
    background-color: #fff !important;
    outline: 0;
}

.search-list-short-desc {
    font-size: 12px;
}

.navbar-default  {
    background: #DAC0AF;
}

header {
    background: #CDAB92;
}

.welcome-message {
    color: #fff;
}

.nav a {
    color: #000 !important;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 3px;
    margin-top: 8px;
    margin-right: 0px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-nav {
    margin: 7.5px 0px;
}

@media only screen and (max-width: 767px) {
    .submenu.dropdown-menu {
        margin-left: 20px;
    }
}

.dropdown-menu {
    min-width: 190px;
}

.nav-item .submenu.revertul {
    position: inherit;
    left: -50%;
    top: -7px;
}

@media only screen and (min-width: 768px) {
    .navbar-default .navbar-nav .dropdown li a {
        color: #555555;
        font-size: 13px;
        font-weight: 500;
        padding-right: 10px;
        padding-left: 7px;
        -webkit-transition: all ease-in-out 0.4s;
        transition: all ease-in-out 0.4s;
    }
}
