.nav-link-custom {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.sidebar-heading {
    margin-bottom: 10px;
}

.margin-top-1rem {
    margin-top: 1rem !important;
}

fieldset {
    min-width: 0;
    padding: 5px;
    margin: 5px;
    border: solid gray 1px;
}

.galleryItemImg {
    max-width: 200px;
    max-height: 120px;
    margin: 0 auto;
}